# ========== Android / Gradle 构建文件 ==========
*.apk
*.aab
.cxx/
*.ap_
*.dex
*.class
*.iml
*.iws
*.ipr
*.so
output-metadata.json
*.hprof


# ========== 构建目录 ==========
bin/
gen/
obj/
build/
/app/release/
/*/out
/*/*/production
captures/

# ========== Kotlin/Gradle ==========
.gradle/
.kotlin/

# ========== IDE 配置文件 ==========
.idea/
*.iml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
.classpath
.project
.vscode/
.factorypath
.settings/

# ========== 本地配置文件 ==========
local.properties
signing.properties
manifest.properties
google-services.json
secrets.tar

# ========== 密钥文件 ==========
*.jks
*.keystore

# ========== 操作系统文件 ==========
.DS_Store
Thumbs.db

# ========== 临时文件 ==========
*~
*.swp
*.log

# ========== 其他 ==========
/_private/
